<dx-form
    colCount="2">
    <dxi-item>
        <dxo-label text="Estado"></dxo-label>
        <dx-select-box [items]="estados"
            displayExpr="nome"
            placeholder="Selecione o estado"
            [searchEnabled]="true"
            [(value)]="estado"
            (onValueChanged)="carregarCidadesOnSelect($event)">
        </dx-select-box>
    </dxi-item>
    <dxi-item>
        <dxo-label text="Cidade"></dxo-label>
        <dx-select-box [items]="cidades"
            displayExpr="nome"
            valueExpr="this"
            placeholder="Selecione a cidade"
            [(value)]="cidade"
            [searchEnabled]="true"
            (onValueChanged)="emitirNovaCidade($event)">
        </dx-select-box>
    </dxi-item>
</dx-form>
