<h3>Lista de Clientes</h3>

<div>
  <dx-button
    stylingMode="contained"
    text="Cadastrar"
    type="default"
    [width]="120"></dx-button>
</div>

<dx-data-grid
  id="gridContainer"
  [dataSource]="clientes"
  keyExpr="id"
  [showBorders]="true"
  [remoteOperations]="true"
  [hoverStateEnabled]="true"
  (onSelectionChanged)="onSelectionChanged($event)"
>
  <dxo-editing
    mode="form"
    [allowUpdating]="false"
    [useIcons]="true"
  ></dxo-editing>

  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[8, 12, 20]"
  ></dxo-pager>

  <dxi-column type="buttons">
    <dxi-button
      text="Visualizar"
      icon="edit"
      hint="Visualizar e detalhar ações"
      [onClick]="onClick">
    </dxi-button>
  </dxi-column>

  <dxi-column dataField="codigo"></dxi-column>
  <dxi-column dataField="nome"></dxi-column>

</dx-data-grid>

<router-outlet></router-outlet>
