/* You can add global styles to this file, and also import other style files */
.action-group {
  display: flex;
  justify-content: flex-end;
}

.btn-cadastrar {
  margin-bottom: 1rem;
}

.btn-action-group {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.btn-action-group dx-button {
  margin-left: 1rem;
}


